.home{

    .headline{
        margin: 0 auto;
    }

    .divider-one{
        width: 70%;
        margin-right: 30%;
    }

    .header-image{
        margin: 3% 0;
    }

    .nav{
        display: flex;
        flex-flow: column nowrap;
        margin: 0 auto;
        width: 30%;
 
            li{
                margin-top: 5%;
                list-style: none;

                a{
                    text-decoration: none;
                }

                #bari,
                #newZealand{
                    display: block;
                    width: 100%;
                    text-align: end;
                }

                #arrow-sylt-bari{
                    margin-left: 15%;
                    transform: rotate(10deg);
                }

                #arrow-bari-aus{
                    margin-left: 28%;
                    transform: rotate(-15deg);
                }
            }
    }

    .impressum{
        a{
            font-size: 0.9em;
        }

        width: 20%;
        margin: 0 0 0 80%;
    }
}