.home{

    .headline{
        margin: 0 auto;
    }

    .divider-one{
        width: 70%;
        margin-right: 30%;
    }

    .header-image{
        margin: 3% 0;
    }

    .nav{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0 auto;
        width: 50%;

        ul{

            padding: 0;
            
            #sylt,
            #bari{
                margin-bottom: 50%;
            }

            #bari{
                margin-top: 30%;
            }

            li{
                margin-top: 5%;
                list-style: none;

                a{
                    text-decoration: none;
                }

                #arrow-sylt-bari{
                    transform: translate(-20%) rotate(-4deg);
                }

                #arrow-bari-aus{
                    
                }
            }
        }    
    }

    .impressum{
        a{
            font-size: 0.9em;
        }

        width: 20%;
        margin: 0 0 0 80%;
    }
}