.home{

    .headline{
        margin: 0 auto;
    }

    .divider-one{
        width: 70%;
        margin-right: 30%;
    }

    .header-image{
        margin: 3% 0;
    }

    .nav{
        display: flex;
        flex-flow: column nowrap;
        margin: 0 auto;

        li{
            margin-top: 10%;
        }
    }

    .impressum{
        a{
            font-size: 0.9em;
        }

        width: 20%;
        margin: 0 0 0 80%;
    }
}